@{
    ViewData["Title"] = "Contact";
}


<div class="card mx-auto" style="width: 18rem;">
    <div class="card-header">
        <h4>Contact Us</h4>
    </div>
    <ul class="list-group list-group-flush">
        <p>Inland Lake Marina</p>
        <p>Box 123</p>
        <p>Inland Lake, Arizona </p>
        <p>86038</p>
    </ul>
    <div class="card-footer">
         <p>Office Phone: 928-555-2234</p>
        <p>Leasing Phone: 928-555-2235</p>
        <p>Fax: 928-555-2236</p>
        <p>Manager: Glenn Cooke</p>
        <p>Slip Manager: Kimberley Carson</p>
        <p>Contact Email: <a href="mailto:info@inlandmarina.com">info@inlandmarina.com</a></p>
    </div>
</div>
